
{% extends "base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}
    <div class="site-padding site-container pt-10 md:pt-15 pb-10 md:pb-20">
        <div class="max-w-[872px]">
            <h1 class="font-serif4 [word-spacing:-6px] font-bold text-7xl lg:text-10xl">
                {{ page.title }}
            </h1>
            <p class="max-w-[636px] pt-7 rich-text">
                {{ page.introduction|richtext }}
            </p>
        </div>
    </div>

    {% include_block page.body %}

    {% include "components/related-pages.html" %}

{% endblock %}

