{% load static %}
{% load wagtailcore_tags wagtailsettings_tags %}
{% wagtail_site as current_site %}

<header class="w-full pt-4 md:pt-8 bg-m4n-neutral text-white shadow-xs sticky overflow-x-clip">
  <div class="site-container site-padding">
    <div class="flex justify-between items-center">
        <a
            href="/"
            data-header-logo
            class="header-logo z-30 uppercase font-semibold text-3xl"
            aria-label="Go to the Wagtail Starter Kit homepage">
            <img class="hidden md:block" src="{% static "images/logo-text.svg" %}" width="200" height="80" alt="more4nature"/>
            <img class="block md:hidden" src="{% static "images/logo.svg" %}" width="50" alt="more4nature"/>
        </a>

        <div class="flex items-center gap-4">
            <nav aria-label="Primary" class="block">
                <button
                    data-toggle-search-panel
                    type="button"
                    aria-expanded="true"
                    aria-controls="search-panel"
                    aria-label="Show search overlay"
                    class="inline-flex font-sans py-1 border-transparent bg-grey-100 text-m4n-neutral mr-2 md:mr-10 pill cursor-pointer hover:bg-m4n-neutral duration-640 hover:border-white hover:text-white "
                    >
                        <!-- TODO Switch this to just glass -->
                        <span class="md:mx-3 hidden md:block">
                            Search
                        </span>
                        {% include "icons/magnifying-glass.html" with class="fill-current w-6 h-6" %}
                </button>
            </nav>

            <button
                class="z-50 button-menu-toggle cursor-pointer"
                data-mobile-menu-toggle
                aria-haspopup="true"
                aria-expanded="false"
                aria-label="Open navigation menu"
            >
                <span class="button-menu-toggle-line"></span>
                <span class="button-menu-toggle-line"></span>
                <span class="sr-only">Menu</span>
            </button>
        </div>
    </div>


    <section
        class="
        invisible
        transition-all
        duration-640
        ease-out-expo
        translate-x-full
        h-screen
        w-full
        absolute
        top-0
        left-0
        z-40
        bg-white
        px-10 md:px-40
        "
        data-menu-content
    >
        <nav aria-label="Primary" class="py-32">
            <ul class="flex flex-col pt-5">
                {% for link in settings.navigation.NavigationSettings.primary_navigation %}
                    <li class="
                        border-t
                        border-solid
                        border-m4n-blue-200
                        last-of-type:border-b
                    ">
                        {% if link.value.page %}
                            <a
                                class="
                                flex
                                py-6
                                text-4xl
                                items-center
                                font-bold
                                font-sans
                                underline
                                underline-offset-2
                                text-m4n-neutral
                                decoration-transparent
                                hover:decoration-m4n-neutral
                                decoration-[1.5px]
                                "
                                href="{{ link.value.get_url }}"
                            >
                                {{ link.value.get_title }}
                            </a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </section>


    <div
        id="search-panel"
        data-search-panel
        class="
        absolute
        invisible
        transition-all
        -translate-y-full
        duration-640
        top-0
        left-0
        z-60
        w-full
        h-dvh
        bg-white
        flex
        px-10
        "
    >
        {% include "components/search.html" with variant="search-panel" %}
    </div>
  </div>
    <div class="w-full bg-white mt-8 mb-0 text-m4n-neutral sticky">
        {% block breadcrumbs %}
            {% include "navigation/breadcrumbs.html" %}
        {% endblock %}
    </div>
</header>

