<div class="answer flex w-full p-2 justify-between border-grey-400 grid grid-cols-11 gap-2 border-b-1">
  <div class="question col-span-5 font-italic">
    {{answer.question.text}}
  </div>
  <div class="option col-span-5">
    {{answer.option.text}}
  </div>
  <div class="text-right">
    <form method="post">
      {% csrf_token %}
      {{ wizard.management_form }}
      <button type="submit" name="wizard_goto_step" value="{{ answer.step_name }}" class="underline hover:no-underline">
        <span class="hidden md:inline">Change</span>
        <span class="inline md:hidden">🖍</span>
      </button>
    </form>
  </div>
</div>
