{% extends "base_page.html" %}
{% load wagtailcore_tags %}

{% block content %}
<div class="needs-and-solutions-hub site-padding font-sans site-container gap-10 pt-10 md:pt-14 tall:md:pt-20 pb-10 md:pb-20 flex flex-col lg:flex-row">
    <div class="max-w-[872px]">
        <h1 class="font-serif4 font-bold text-4xl lg:text-7xl">
            {{ page.title }}
        </h1>

        <div class="pt-7 rich-text mb-7">
            {{ page.intro_text|richtext }}
        </div>

      {% if previous_answers %}
        <div class="previous-answers rich-text mb-10">
          <span class="text-grey-500">Previous answers</span>
          {% for answer in previous_answers %}
            {% include "needs_and_solutions_hub/partials/answer.html" %}
          {% endfor %}
        </div>
      {% endif %}

      <div class="rich-text">
        <p class="mb-2 wizard-progress text-grey-500">
          Question {{ wizard.steps.step1 }} of {{ total_questions }}
        </p>


        <form method="post" novalidate>
          {% csrf_token %}
          {{ wizard.management_form }}

          <fieldset>
            <legend class="mb-5 font-serif4 text-3xl font-bold">{{ current_question.text }}</legend>

            {% if wizard.form.errors %}
              <div role="alert" class="align-middle pt-5 mb-5 pl-5 border rounded-md border-error-message/50 text-error-message bg-error-message/20">
                {{ wizard.form.answer.errors }}
              </div>
            {% endif %}

            {% for radio in wizard.form.answer %}
              <div class="mb-3">
                <label class="option-label">
                  {{ radio.tag }}
                  <span class=ml-3>{{ radio.choice_label }}</span>
                </label>
              </div>
            {% endfor %}

            {{ wizard.form.question_id }}
          </fieldset>

          <div class="mt-7 wizard-actions flex justify-stretch gap-3 mx-auto">
            <div class="text-right grow">
              {% if wizard.steps.prev %}
                  <button type="submit" name="wizard_goto_step" class="btn" value="{{ wizard.steps.prev }}">
                    ← Back
                  </button>
              {% endif %}
            </div>
            <div class="grow">
              <button type="submit" class="btn" >
                {% if wizard.steps.current == wizard.steps.last %}Submit{% else %}Next →{% endif %}
              </button>
            </div>
          </div>
        </form>

      </div>
    </div>
</div>
{% endblock %}
