
{% if url %}
    <a
        href="{{ url }}"
        {% if block_type == 'external' %}
        target="_blank"
        {% endif %}
        class="
        {{ classes }}
        {% if variant == 'footer' %}
            md:px-5
        {% else %}
            md:px-10
        {% endif %}
        text-m4n-neutral bg-white
        hover:bg-m4n-neutral
        hover:text-white
        duration-500
        border
        border-m4n-neutral
        hover:border-white
        px-5 py-2
        text-nowrap
        justify-center items-center text-sm md:text-base font-sans uppercase inline-flex rounded-md">
            {{ title }}
    </a>
{% else %}
    <button
        class="
        {{ classes }}
        {% if variant == 'footer' %}
            md:px-5
        {% else %}
            md:px-10
        {% endif %}
        text-m4n-neutral bg-white
        hover:bg-m4n-neutral
        hover:text-white
        duration-500
        border
        border-m4n-neutral
        hover:border-white
        px-5 py-2
        justify-center items-center text-sm md:text-base font-sans uppercase inline-flex rounded-md">
        {{ title }}
    </button>
{% endif %}

