
{% if url %}
    <a
        href="{{ url }}"
        {% if block_type == 'external' %}
        target="_blank"
        {% endif %}
        class="
        {{ classes }}
        {% if variant == 'footer' %}
            md:px-5
        {% else %}
            md:px-10
        {% endif %}
        text-white bg-m4n-blue-300 dark:text-m4n-neutral
        px-5 py-3 md:py-[15px]
        justify-center items-center text-sm md:text-base font-codepro uppercase inline-flex rounded-[3px]">
            {{ title }}
    </a>
{% else %}
    <button
        class="
        {{ classes }}
        {% if variant == 'footer' %}
            md:px-5
        {% else %}
            md:px-10
        {% endif %}
        text-white bg-m4n-blue-300 dark:text-m4n-neutral
        px-5 py-3 md:py-[15px]
        justify-center items-center text-sm md:text-base font-codepro uppercase inline-flex rounded-[3px]">
        {{ title }}
    </button>
{% endif %}

