
{% load wagtailcore_tags wagtailsettings_tags wagtailimages_tags %}

<div class="flex flex-col
w-full h-full group
">
    <a
        href="{% pageurl page %}"
        class="
        leading-8 md:leading-10
        duration-600 ease-in-out
        hover:shadow-md/10
        article-card mb-3
        h-full w-full
        "
    >
        <div class="p-7 w-full h-full flex flex-col justify-between">
            {% if page.article_format %}
                <p class="font-sm font-sans text-grey-800">
                    {% firstof page.listing_summary page.article_format %}
                </p>
            {% endif %}
            <p class="text-xl md:text-2xl font-bold font-sans title">
                {% firstof page.listing_title page.title %}
            </p>
            {% if page.plain_introduction %}
            <p class="text-grey-700 pt-2.5 leading-6 font-sans font-sm">
                {% firstof page.listing_summary page.plain_introduction|truncatewords:50 %}
            </p>
            {% endif %}
            {% if page.topic %}
                <p class="pill text-m4n-blue-300 leading-6 mt-5" style="background-color: {{ page.topic.color_hex }};">
                    {% firstof page.listing_summary page.topic %}
                </p>
            {% endif %}
        </div>
    </a>
</div>

