
{% load wagtailcore_tags wagtailsettings_tags wagtailimages_tags %}

<div data-print-keep-together class="flex flex-col
w-full h-full group
">
    <a
        href="{% pageurl page %}"
        class="
        leading-8 md:leading-10
        duration-600 ease-in-out
        hover:shadow-md/10
        article-card mb-3
        h-full w-full
        "
    >
        <div class="p-7 w-full h-full flex flex-col justify-between">
            {% if page.article_format %}
                <p class="font-sm font-sans text-grey-800">
                    {% firstof page.listing_summary page.article_format %}
                </p>
            {% endif %}
            <p class="text-xl md:text-2xl font-bold font-sans title">
                {% firstof page.listing_title page.title %}
            </p>
            {% if page.plain_introduction %}
            <p class="text-grey-700 pt-2.5 leading-6 font-sans font-sm">
                {% with truncatewordsmax=max_words|default:50 %}
                    {% firstof page.listing_summary page.plain_introduction|truncatewords:truncatewordsmax %}
                {% endwith %}
            </p>
            {% endif %}

            <div class="flex flex-col lg:flex-row gap-2 lg:gap-4">
                {% if page.topic and show_topic != "false" %}
                <div class="pill mt-5" style="background-color: {{ page.topic.color_hex }};">
                    {% image page.topic.icon format-webp as pill_image %}
                    <div class="flex flex-col lg:flex-row gap-2 lg:gap-4 flex-wrap align-center px-1 py-1.5">
                        <img class="block max-h-[25px]" src="{{ pill_image.url }}" class="object-scale-down" width="25px"/>
                        <div class="hidden lg:block">{% firstof page.listing_summary page.topic %}</div>
                    </div>
                </div>
                {% endif %}

                {% if page.compliance_type %}
                <div class="pill text-white leading-6 mt-5 bg-m4n-neutral lex flex-row items-center leading-6 max-h-[37px]">
                    <div class="px-1 py-1.5">{{ page.compliance_type }}</div>
                </div>
                {% endif %}
            </div>
        </div>
    </a>
</div>

