
{% load wagtailcore_tags wagtailsettings_tags wagtailimages_tags %}

<div class="flex flex-col
w-full h-full group
">
    <a
        href="{% pageurl page %}"
        class="
        leading-8 md:leading-10
        duration-600 ease-in-out
        hover:shadow-md/10
        article-card mb-3
        "
    >
        <div class="p-7 w-full">
            {% if page.topic %}
                <p class="font-sm font-sans text-grey-800 dark:text-grey-800">
                    {% firstof page.listing_summary page.topic %}
                </p>
            {% endif %}
            <p class="text-xl md:text-2xl font-bold font-sans">
                {% firstof page.listing_title page.title %}
            </p>
            <p class="text-grey-700 dark:text-grey-200 pt-2.5 leading-6 font-sans font-sm">
                {% firstof page.listing_summary page.plain_introduction|truncatewords:50 %}
            </p>
            {% if page.topic %}
                <p class="pill text-m4n-blue-300 dark:text-grey-200 leading-6 mt-5 bg-white font-bold">
                    {% firstof page.listing_summary page.topic %}
                </p>
            {% endif %}
        </div>
    </a>
</div>

