{% load wagtailcore_tags wagtailimages_tags static i18n %}

<div class="mb-10 border-t-2 border-grey-300">
  <div class="my-5 flex justify-between items-baseline">
    <div>
      {% image page.topic.icon format-webp as topic_icon %}
      <div class="flex flex-row items-center px-1 py-1.5">
          <div class="rounded-full p-2" style="background-color: {{ page.topic.color_hex }};">
            <img class="block" src="{{ topic_icon.url }}" class="object-scale-down" width="35px" height="35px" /></div>
          <a href="{% pageurl page %}" class="underlined-link underlined-link-blue font-serif4 text-2xl lg:text-4xl my-0 ml-[40px]">{{ page.localized.title }}</a>
      </div>
      <div class="mb-0 font-sans mt-5 text-lg md:max-w-[80%] md:ml-[100px]">
        {{page.localized.introduction |richtext }}
      </div>
    </div>
  </div>
  {% if page.localized.articles %}
  <div class="font-sans text-lg md:text-2xl font-bold md:mx-[100px]">
    {% translate "Read resources on this thematic area" %}:
  </div>
  <div class="grid grid-cols-1 xl:grid-cols-2 gap-5 mt-10 md:mx-[100px]">
    {% for article in page.localized.articles|slice:":3" %}
      {% if page.locale.language_code == article.locale.language_code %}
        {% include "components/card--article.html" with page=article show_topic="false" max_words=20 %}
      {% endif %}
    {% endfor %}
  </div>
  <div class="flex flex-row w-full justify-start mt-10 md:mx-[100px]">
    <a
      href="{% pageurl page %}"
      class="whitespace-nowrap rounded-4xl text-sm font-bold font-serif4 ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-white text-m4n-neutral hover:bg-m4n-neutral hover:text-white border hover:border-white h-10 px-6 py-2 duration-500 w-fit">
        <div class="flex flex-row gap-5 items-center">
          {% translate "Read more" %}<div class="hidden lg:block"> on {{ page.localized.title }}</div>
          <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 448 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"></path></svg>
        </div>
      </a>
    </div>
  {% endif %}
</div>
