
{% load wagtailcore_tags wagtailimages_tags i18n %}

{% if page.related_pages %}
<section class="site-padding site-container pb-20 md:pb-40">
    <div class="max-w-[872px]">

        {% with "Read more" as default_heading %}
            {% translate "Read more" as heading %}
            {% include "components/streamfield/blocks/heading2_block.html" with value=heading anchor=default_heading %}
        {% endwith %}

        <div class="w-full overflow-x-auto">
            {% for related_page in page.related_pages.specific %}
                <div class="min-w-80">
                    {% include "components/card.html" with page=related_page %}
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}

