
{% load wagtailcore_tags wagtailimages_tags %}

{% if page.related_pages %}
<section class="site-padding site-container pb-20 md:pb-40">
    <div class="max-w-[872px]">
        {% firstof page.featured_section_title 'Read more' as heading %}
        {% include "components/streamfield/blocks/heading2_block.html" with value=heading %}

        <div class="w-full overflow-x-auto">
            {% for related_page in page.related_pages.specific %}
                <div class="min-w-80 mt-10">
                    {% include "components/card.html" with page=related_page %}
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}

