
<form action="{% url 'search' %}" method="get" role="search"
    class="
    site-container
    w-full
    m-auto
    flex
    flex-col
    justify-center
    ">
    <div
        class="
        flex
        grow
        flex-col
        max-w-[520px]
        md:w-full
        md:max-w-[700px]
        m-auto
        "
        data-search-content
    >
        <input
            class="
            bg-white
            text-m4n-neutral
            mb-5 md:mb-10
            border-b-2 border-b-m4n-blue-200
            w-full h-[50px]
            pt-3 pb-5
            font-semibold
            font-sans
            text-3xl
            md:text-5xl
            placeholder:text-3xl
            placeholder:md:text-5xl
            placeholder:text-m4n-blue-600
            "
            type="search"
            aria-label="Type here"
            placeholder="Type here"
            name="query"
            data-search-input
        />
        <button
            class="
            text-white
            bg-m4n-neutral
            font-bold
            py-3
            justify-center
            text-3xl
            md:text-4xl
            font-sans
            inline-flex
            cursor-pointer
            rounded-md
            duration-500
            ease-out-expo
            border
            border-transparent
            hover:bg-white
            hover:text-m4n-neutral
            hover:border
            hover:border-m4n-neutral
            "
        >
            Search
        </button>
    </div>
</form>

